<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PruebaGit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>67EB8ABA1C6B08C6007C90A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67EB8ACE1C6B08C6007C90A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67EB8AD91C6B08C6007C90A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
